<!DOCTYPE html>
<html>
<head>
	<title>AgoraCulture</title>
</head>
<body>

	<center><h1>AgoraCulture</h1></center>

	 <style type="text/css">
     html, body, #map-canvas { height: 500px; width: 1000px; margin: 0 auto; padding: 0 auto;}
   </style>
			<script type="text/javascript"
		 		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqq_QNinIjmjlBBncGcvh0VCrX9ScH9XY">
			</script>
			<script type="text/javascript">
	 		function initialize() {

	 		var FlatironBrooklyn = new google.maps.LatLng(40.697325, -73.986014);

	   	var mapOptions = {
	    	center: FlatironBrooklyn,
	    	zoom: 14
	   	};
	   	var map = new google.maps.Map(document.getElementById('map-canvas'),
	    	mapOptions);

	 		var marker = new google.maps.Marker({
	 			position: FlatironBrooklyn,
	 			map: map,
	 			title: 'Flatiron Brooklyn'
	 		})

	 		}
	 		google.maps.event.addDomListener(window, 'load', initialize);
			</script>
			<div id="map-canvas"></div>
</body>
</html>