<!DOCTYPE html>
<html>
<head>
	<title>AgoraCulture</title>
</head>
<body>

	<center><h1>AgoraCulture</h1></center>
	
<a href="/map">
<button type="button">Find the Nearest Farmer's Market!</button>
</a><br>
<br>
<form action="/map">
<input type="submit" value="Search">
<input type="text" name="zip" placeholder="by Zipcode">
</form>
</body>
</html>