<center><h1>AgoraCulture</h1></center>
	
<a href="/map">
<button type="button">Find the Nearest Farmer's Market!</button>
</a><br>
<br>
<form action="/map">
<input type="submit" value="Search">
<input type="text" name="zip" placeholder="by Zipcode">
</form>

<%= link_to "Login With Facebook", "auth/facebook/" %><br>
<%= link_to "Login With Google", "auth/google/" %>