<center><h1>AgoraCulture</h1>
	
<br>
<br>
<button><%= link_to "Find Nearby Markets", "/map" %></button>
<br>
<br>
<button><%= link_to "Login With Facebook", "auth/facebook" %></button>
<button><%= link_to "Login With Google", "auth/google_oauth2" %></button>
</center>
