<!DOCTYPE html>
<html>
<head>
	<title>AgoraCulture</title>
</head>
<body>

	<center><h1>AgoraCulture</h1></center>
	
<button action="" type="button">Find the Nearest Farmer's Market!</button><br>
<br>
<form action="action_page.php">
<input type="submit" value="Search">
<input type="text" name="firstname" placeholder="by Zipcode">
</form>
</body>
</html>