<!DOCTYPE html>
<html>
<head>
  <title>AgoraCulture</title>
</head>
<body>

  <center><h1>AgoraCulture</h1></center>

   <style type="text/css">
     html, body, #map-canvas { height: 500px; width: 1000px; margin: 0 auto; padding: 0 auto;}
   </style>
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqq_QNinIjmjlBBncGcvh0VCrX9ScH9XY">
      </script>

      <script src='/./assets/javascripts/map'>
      </script>

      <script>
      google.maps.event.addDomListener(window, 'load', initialize);
      </script>

      <div id="map-canvas"></div>
</body>
</html>