  <center><h1>AgoraCulture</h1></center>
  
  <%= javascript_tag do %>
    var marketPins = <%= @pin_json %>;
  <% end %>

  <style> 
    html, body, #map-canvas {
    height: 100%;
    margin: auto;
    padding-top: 0px;
    }
    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>

  <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
  <script> 
    $(function() {
      initialize()
      $.each (marketPins, function(i, market) {
        addPin(market);
      })
      }
    )

  </script>

  <div id="map-canvas"></div>
